NEXT_PUBLIC_SUPABASE_URL=https://jgrczzjqhhccfwbndjnm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpncmN6empxaGhjY2Z3Ym5kam5tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MTc2NzksImV4cCI6MjA5ODM5MzY3OX0.OxZ0pEAWhdxv0f6l2PTj6qoAYyNhfSwte1ZObOW7Nis
